<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>requirements</servlet-name>
        <servlet-class>servletFiles.requirements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servletFiles.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyServlet</servlet-name>
        <servlet-class>servletFiles.ApplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServletU</servlet-name>
        <servlet-class>servletFiles.LoginServletU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupServlet</servlet-name>
        <servlet-class>servletFiles.signupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requirements</servlet-name>
        <url-pattern>/requirements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyServlet</servlet-name>
        <url-pattern>/ApplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletU</servlet-name>
        <url-pattern>/LoginServletU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupServlet</servlet-name>
        <url-pattern>/signupServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
